
.gallery_section{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100vh;
    width: 100%;
    max-width: 480px;
    min-width: 300px;
}


.gallery{
    width: 100%;
    height: 100vh;
    max-width: 480px;
    min-width: 300px;
    margin: 0 auto;
    padding-top: 3rem;
}

#seasonSelect{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 5vh;
    background-color: rgba(255, 255, 255, 1);
    font-family: main-font;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    text-align-last: center ;
    border: none;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.gallery_container{
    width: 95%;
    max-width: 480px;
    min-width: 300px;
    height: 95vh;
    margin: 0 auto;
}

/* gallery_container에 추가됨, 그리드 스타일 적용 */
.grid_gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 항상 3열 */
    column-gap: 1rem;
    justify-content: center;
}
/* gallery에 추가됨 슬라이더 스타일 적용, gallery_container 부모*/
.slider_gallery {
  width: 100%;
  height: 95vh;
  padding: 2rem 1rem;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  
}
/* gallery_container에 추가됨, 슬라이더 스타일 적용 */
.slide_item {
  flex: 0 0 calc(100% - 1rem);
  scroll-snap-align: center;
}

.slide_item.show {
  opacity: 1;
  transform: translateY(0);
}

.gallery_navigation_bar{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 0.5rem;
    width: 100%;
    height: 5vh;
    max-width: 480px;
    min-width: 300px;
    background-color: rgba(10, 10, 10, 0.2);
    border-radius: 1rem;
}

.gallery_navigation_bar button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
}
.gallery_navigation_bar button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.gallery_navigation_bar button.active {
    font-weight: bold;
    border-bottom: 2px solid black;
}

.single_img{
    aspect-ratio: 3 / 4;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
        /* fade 효과 초기 상태 */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.single_img.show {
  opacity: 1;
  transform: translateY(0);
}