/* 전역 초기화 및 레이아웃 안정화 */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 모바일 대응 */
@media screen and (max-width: 480px) {
    body {
        font-size: 14px;
        padding: 0rem 1rem 0 1rem;
    }
}

main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 프로필 영역 */
.profile_background {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 400px;
    max-height: 400px;
}

.banner_img {
    width: 90%;
    max-height: 360px;
}

.profile_icon_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: 15%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0;

}

.profile_icon {
    width: 80px;
    height: 80px;
    background-color: #ffffff;
    border-radius: 50%;
}

.profile_name {
    text-align: center;
    font-size: medium;
    margin-top: 0.5rem;
    color: #ffffff;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 400px;
    max-height: 700px;
    width: 100%;
    height: auto;
}

/* 아이콘 링크 */
.links_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 400px;
    min-width: 300px;
    padding: 0 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;

}

.subs_icon {
    width: 30px;
    height: 30px;
}

.about_icon {
    width: 30px;
    height: 30px;

}

/* 링크 버튼들 */
.links_bars {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 90%;
    max-width: 400px;
}

/* 바형 링크 스타일 */
.bar_style {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    padding: 1rem 1rem;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    min-width: 250px;
    min-height: 2.5rem;
    position: relative;

}

/* 아이콘 이미지 */

.icons_size {
    width: 35px;
    height: 35px;
}

.icons_style {
    position: absolute;
    left: 0;
    margin-left: 1rem;
}

/* 링크 텍스트 */
.bar_text {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    white-space: nowrap;
}

#bar_num_1 {
    background-color: #0025D9;
}

#bar_num_2 {
    background-color: #004ECE;
}

#bar_num_3 {
    background-color: #166EFF;
}

#bar_num_4 {
    background-color: #3A84FF;
}

#bar_num_5 {
    background-color: #98BEFF;
}
